<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.lt_us_keylayout</string>
	<key>CFBundleName</key>
	<string>LT_US_KeyLayout</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_LT_US</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.lt_us_keylayout.lt_us</string>
		<key>TISIntendedLanguage</key>
		<string>lt</string>
	</dict>
</dict>
</plist>
